h1{
    font-size: 50px;
    background-color: gray;
}

p{
    text-decoration: solid;
    text-justify: auto;
}

#submit{
    background-color: blue;
    color: white;
    border-radius: 15rem, 15rem, 0,0;
    scale: 1rem;
}

#submit>:hover{
    scale: 1.5rem;
}

#container{
    justify-content: space-between;
    text-align: center;
}

img[src]{
    height: 300px;
    width: 300px;
}

